/* *[data-testid*=applepay i], */
*[class*=applepay i]:empty {
    background: black;
    background-image: url(/img/button400.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 100%;

    /* background-size: contain;
    background-position-x: center;
    background-size: 50%; */
}